header {
  display: flex;
  flex-direction: row;
  size: auto;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #c28abf;
  size-adjust: auto;
}

nav  {
  width: auto;
  margin: auto;
  background-image: url(9K4A6876.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

nav ul {
  background-color: darkslategrey;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20pt;
  list-style-type: none;
  font-style: italic;
  overflow: auto;
  margin: 0;
  padding: 0;
}

nav li { 
  float: center; 
}

nav li a {
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: rgb(209, 174, 18);
}

nav li a:hover { 
  background-color: #660066;
  color: rgb(209, 174, 18); 
}

.photobanner {
  display: flex;
  justify-content: center;
}
body {
  background-color: #c99000;
  background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png");
}

.info {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 40px;  
}

.info h2 {
  display: flex;
  justify-content: center;
  font-family: fantasy;
  color: black;
}

 .info article {
   display: flex;
   flex-direction: column;
   justify-content: center;
 
   color:indianred;
   width: 350px;
   padding: 20px;
   border-style: solid;
   border-color: maroon;
   border-width: 3px;
   border-radius: 50px;
   background-color: rgb(230, 218, 218);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 .info aside {
   display: flex;
   flex-direction: column;
   color: indianred;
  
   width: 350px;
   padding: 20px;
   border-style: solid;
   border-color: maroon;
   border-width: 3px;
   border-radius: 50px;
   background-color: rgb(230, 218, 218);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 .events {
   display: flex;
   justify-content: space-evenly;
   text-align: center;
   padding-bottom: 100px;
 }

 .eventimg {
   display: flex;
   justify-content: center;
   padding-top: 15px;
 }

.events h2 {
  display: flex;
  font-family: fantasy;
  justify-content: center;
  color: black;
}

 .events article {
   display: flex;
   flex-direction: column;
   color: indianred;
   width: 600px;
   border-style: solid;
   border-color: maroon;
   border-width: 3px;
   border-radius: 50px;
   background-color: rgb(230, 218, 218);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 .events aside {
   display: flex;
   flex-direction: column;
   color: indianred;
   width: 600px;
   border-style: solid;
   border-color: maroon;
   border-width: 3px;
   border-radius: 50px;
   background-color: rgb(230, 218, 218);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 dt {
   font-size: 16pt;
   text-align: center;
 }


footer {
display:flex;
  background-color: darkslategrey;
}

.contact a {
  font-size: 20pt;
  color: rgb(209, 174, 18);
}

.copyright {
display: flex;
font-size: 8pt;
font-style: italic;
padding-left: 35%;
padding-right: 35%;
}

.buttons a {
 display: inline-flex;
 font-size: 20pt;
 color: rgb(209, 174, 18);
 align-self: baseline;
}


input[type="reset"] {
  color: #0e7a0d;
  padding: 12px 20px;
  border: 1px solid #0e7a0d;
  border-radius: 4px;
  cursor: pointer;
 }
 
 input[type="reset"]:hover {
  background-color: #d1efe3;
 }
 
 input[type="submit"] {
  background-color: #0e7a0d;
  color: white;
  padding: 12px 20px;
  border: 1px solid #0e7a0d;
  border-radius: 4px;
  cursor: pointer;
 }
 
 input[type="submit"]:hover {
  background-color: #00ab66;
 }

 .wrapper-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
 }
 
 .wrapper-button {
  display: flex;
  justify-content: space-between;
 }

 input,
select,
textarea {
 font-size: 1em;
}

input[type="text"],
select,
textarea {
 width: 100%;
 padding: 12px;
 border: 1px solid #ccc;
 border-radius: 4px;
 margin-top: 6px;
 margin-bottom: 16px;
 resize: vertical;
}

input[type="email"] {
 width: 100%;
 padding: 12px;
 border: 1px solid #ccc;
 border-radius: 4px;
 margin-top: 6px;
 margin-bottom: 16px;
 resize: vertical;
}

textarea {
 font-family: sans-serif;
}

fieldset {
 margin-bottom: 16px;
 border: 1px solid #ccc;
}

.label-required {
 font-size: 0.8rem;
 color: red;
}

* {
  box-sizing: border-box;
 }